dataset/wsc2008/MegaChallengeSet01/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:ComplexElement0" name="ComplexElement0Part" />
    <part element="service:323320970" name="323320970Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:266152856" name="266152856Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="ComplexElement0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexElement1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ComplexElement2">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="750537839" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="428265032" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="1242479138" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="323320970" type="xs:string" />
      <xs:element name="266152856" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="323320970">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1851966719</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1242479138">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst133766066</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="428265032">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1137982089</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="750537839">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst906333770</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="266152856">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1010172917</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

