dataset/wsc2008/Set10MetaData/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:ComplexElement0" name="ComplexElement0Part" />
    <part element="service:2051268104" name="2051268104Part" />
    <part element="service:1784622030" name="1784622030Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:1525937475" name="1525937475Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="ComplexElement0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="1893390619" type="xs:string" />
            <xs:element name="1527953808" type="xs:string" />
            <xs:element name="2037637826" type="xs:string" />
            <xs:element name="460520918" type="xs:string" />
            <xs:element name="1016930846" type="xs:string" />
            <xs:element name="138989508" type="xs:string" />
            <xs:element name="1375033538" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="2051268104" type="xs:string" />
      <xs:element name="1784622030" type="xs:string" />
      <xs:element name="1525937475" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="2051268104">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst812053270</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1784622030">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1731057549</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1893390619">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1696648505</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1527953808">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1717131123</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="2037637826">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst994133569</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="460520918">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst968327309</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1016930846">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst800379571</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="138989508">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst390340273</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1375033538">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst682609776</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="1525937475">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1130745308</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

